.navBar, .searchBtn {
    background-color: #A0B19F!important;
}

.searchFld{
    background-color: #C1CBCA!important;
}

.leftColumn {
    background-color: #EADFC9!important;
    padding: 20px;
}

.cityButton{
    background-color: #435764!important;
    color: white!important;
}

.buttonClear{
    margin-top: 5px;
    /* margin-left: 9rem; */
    font-weight: bold;
    background-color: #C98380!important;
    color: #435764!important;
    border: 2px solid!important;
}

.rightColumn { 
    background-color: #C1CBCA!important;
    padding: 20px;
    margin-bottom: 1rem;
}
.rightContain {
    margin-right: 100px!important;
}

.cityIcon, .userSearchCity{
    vertical-align: middle;
}

.UVbox{
   width: 60px;
   height: 40px!important;
   padding: 8px!important;
   margin-right: 20px!important;
   text-align: center;
   display: inline-block;
}

.lowUV{
    background-color: #00cc66!important;
    color: black!important;
 }

 .medUV{
    background-color: #ffdb4d!important;
    color: black!important;
 }

 .highUV{
    background-color: #ff8000!important;
    color: black!important;
 }

.veryHighUV{
   background-color: fireBrick!important;
   color: white!important;
}

.extremeUV{
    background-color: #993366!important;
    color: white!important;
}

.uvText{
    vertical-align: middle;
    text-align: left;
}

.boldFont{
    font-size: 25px;
    font-weight: bold;
}

.forcastColumn {
    max-width: 180px!important;
}

.cardWidth{
    width: 50rem;
}

.modalBack{
background-color: #D4A579!important;
}



